 body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
/* login page */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* end login page */
.topBar {
	background-color: #47639e;
}
.navbar-inverse {
    background-color: #099acb!important;
    
}   
.navbar-inverse .navbar-nav > li > a {
    color: #fff!important;
}

.navbar-inverse .navbar-nav >li >a:hover{
    color: #000!important;
    background-color: #67d9ff!important;
}
.navbar-brand {
    color: #fff!important;
}
.navbar-brand a:hover{
    color: #000!important;
}
.error {
    list-style: none;
    float: left;
}
.jumbotron {
    background-color: #fff;
}
.account {
    float: right;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #C8EEF1!important;
}
.displayBox {
   
    border-radius: 8px;
    display: block;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    float: none!important;
}
.presentation {
     padding: 12px;
}
.postit {
   
    font-size: 1.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 8px;
    display: block;
    padding: 6px;
    line-height: 1.428571429;
    background-color: #ffe492;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 35px;
}
.postitInfo {
    font-style: italic;
    font-size: 12px;
}
.postit hr{
    color: #ddd;
}
.redBadge {
    background-color: #ff0000;
    color: #fff;
}
.greenBadge{
    background-color: #3dc955;
    color: #fff;
}
.footerTxt{
    color: #888;
    font-size: 12px;
}
.offerBanner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 120px;
}
.lead2 {
    font-size: 1.3em;
}
.controlBox {
    background-color: #d6d6d6;
    padding:6px;
}